.iversoft-team-carousel h4{
	margin-top:15px;
	margin-bottom:5px;
}
.iversoft-team-carousel h6{
	margin-top:10px;
	margin-bottom:10px;
}

.iversoft-team-carousel .iversoft-team-carousel_social_media{
	margin-top:15px;
	margin-bottom:15px;
	display:flex;
	width:60%;
	justify-content:space-between;
	margin:auto;
}
#et-boc .dica_divi_carousel_0.dica_divi_carousel .dica_divi_carouselitem>div:first-of-type, .dica_divi_carousel_0.dica_divi_carousel .dica_divi_carouselitem>div:first-of-type{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.dica_divi_carousel_0.dica_divi_carousel .swiper-button-next, .dica_divi_carousel_0.dica_divi_carousel .swiper-button-prev {
	border-radius:50%;
}

#iversoft-team-carousel .swiper-button-next:before{
	color:#00B189 !important;
}

#iversoft-team-carousel .swiper-button-prev:before{
	color:#00B189 !important;
}